 <nav class="nav-bar">
    <div class="container">
      <div class="nav-content">
        <div class="nav-data">
        <i class="fas fa-sun"></i>&nbsp;<span><a href="/">WeatherWeb</a></span>&nbsp;<i class="fas fa-sun"></i >
        </div>
        <div class="data">
          <a href="/">HOME</a>
          <a href="/about">ABOUT</a>
          <a href="/weather">WEATHER</a>
        </div>
      </div>
    </div>
  </nav>